/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.container {
  max-width: 700px;
  padding: 2rem;
  margin-top: 3rem;
  animation: fadeIn 1.2s ease;
  width: 90%;
}

.main-title {
  font-size: 2.5rem;
  text-align: center;
  color: #ffdd57;
  margin-bottom: 2rem;
  text-shadow: 0 0 10px rgba(255,255,255,0.3);
}

.card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(14px);
  border-radius: 18px;
  padding: 1.8rem;
  margin-bottom: 2rem;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
}

.card h2 {
  color: #ffb84d;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.highlight {
  font-weight: bold;
  color: #00fff7;
  font-size: 1.2rem;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background: #00bcd4;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
  background: #0097a7;
  transform: scale(1.05);
}

.qris-img {
  max-width: 100%;
  border-radius: 12px;
  border: 3px solid white;
  margin: 1rem 0;
}

footer {
  text-align: center;
  font-size: 1.500rem;
  color: #ccc;
  padding: 2.100rem;
  margin-top: auto;
  background-color: #00000030;
}

/* Animasi */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  } to {
    opacity: 1;
    transform: translateY(0);
  }
}

.toast {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #00c853;
  color: white;
  padding: 15px 25px;
  border-radius: 30px;
  font-size: 1rem;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  opacity: 0;
  pointer-events: none;
  transform: translateY(100px);
  transition: all 0.4s ease;
  z-index: 9999;
}

.toast.show {
  opacity: 6;
  transform: translateY(0);
}
